.allCalendarsContainer {
  display: flex;
  flex-direction: row;
}

.calendarContainer {
  width: 50%;
}

.symbolsAddedLabel {
  font-weight: bold;
  text-decoration: underline;
}

.symbolsAddedContent {
  margin-block: 8px;
}

.calendar {
  margin: auto;
  border-radius: 16px;
  button {
    border-radius: 16px;
  }
}

.tickerSelect {
  min-width: 100px;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  margin: 1%;
  padding: 4px 8px;
  background-color: rgb(81, 205, 160);
  border-color:rgb(60, 150, 120)
}

.generateChartsButton {
  margin-block: 8px;
  padding: 8px;
}

.errorMessage {
  color: red;
}